header {
  padding: 156px 0 100px;
}

section {
  padding: 100px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  z-index:1000;
}

#fl-box {
  display: none;
}

.featherlight .featherlight-inner {
  display: block !important;
}

#image-query-form {
  padding: 30px 0;
}

#input-error {
  padding: 20px 0;
  color: #cc2222
}

#search-tips-card .row div{
    padding:10px 15px;
}

#results {
  display: none;
  margin-top:12px;
  position:relative;
}

@media only screen and (max-width: 600px) {
  #results {
    overflow-x: scroll;
  }
  #search-options .row > div {
    margin-top: 25px;
  }
  div.container a.navbar-brand {
    font-size: 14px;
  }
  section{
    padding-top: 70px;
  }
  #fl-box td{
    font-size: 12px;
  }
  .featherlight button.featherlight-close-icon {
    position: fixed;
    top: 10px;
    right: 15px;
  }
}

@media only screen and (min-width: 800px) {
  div.col-narrow{
    max-width: 13%;
  }
}


#results-table {
  width:100%;
  font-size: 13px;
}

#query-form {
  margin-top: 10px;
}

#query-form h4 {
  margin-bottom: 14px;
}

#search-options-card {
  margin:12px 0 10px 0; 
}

#search-tips-card  {
  margin:10px 0 11px 0; 
}

#celestial-card {
  margin:10px 0 22px 0;
}

#celestial-credits {
  margin: auto;
  text-align: center;
  width: 200px;
}

.card .card-header{
  padding: 5px 10px;
}

.card h4 {
  font-size: 14px;
  color: #666;
}

.card h4 i {
  color: #888;
  margin-right: 5px;
}

#search-options-card label {
  font-size: 14px;
  color: #777;
}

#search-options-card .custom-control-label::before, #search-options-card .custom-control-label::after {
  top: 0.2rem;
}

#query-form .card .input-panel label {
    margin: 5px 0 3px 0;
}

#celestial-wrapper {
    max-width:650px;
    margin: 15px auto;
}

.input-group .btn-faint-border {
    border-color: #aaa;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.input-group .btn-faint-border:hover {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.dropdown-marker {
    position: absolute;
    right: 15px;
    top: 10px;
}

a.fake-link, a.fake-link:hover, a.fake-link:not([href]):not([tabindex]), a.fake-link:hover:not([href]):not([tabindex]) {
    color: #007bff;
}

/* autocomplete */
.autocomplete-suggestions { margin-top:10px; border-radius:2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
        background: #FFF; overflow-y: scroll; }

.autocomplete-suggestion { padding: 10px 10px; font-size: 14px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: 500; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
